#cv-btn {
    background-color: #219EBC;
    border:#219EBC;
    border-radius: 20px;
    padding: 8px 12px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.profile-img-container {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: outline;
}